@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="@Url.Content("~/Content/banner.jpg")"

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Điện máy Quyết Tiến</h2>
       
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
   
</div>